<%- include('../includes/header.ejs') %>
    <%- include('../includes/nav.ejs') %>
        <main class="my-5">
            <h1 class="display-5 fw-bold lh-1 mb-5 text-center">New Password</h1>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-10 col-lg-6">


                        <% if (errorMessage) { %>
                            <div class="alert alert-danger text-center" role="alert">
                                <%= errorMessage %>
                            </div>
                            <% } %>
                                <form class="product-form" action="/new-password" method="POST">
                                    <div class="form-floating mb-3">
                                        <input class="form-control" type="password" placeholder="Password" name="password" id="password" autocomplete="new-password" required>
                                        <label for="password">Password</label>
                                    </div>

                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                                    <input type="hidden" name="userId" value="<%= userId %>">
                                    <div class="d-grid gap-2 col-12 mx-auto">
                                        <button class="btn btn-primary btn-lg" type="submit">Reset Password</button>
                                    </div>

                                </form>

                    </div>
                </div>
            </div>
        </main>
        <%- include('../includes/footer.ejs') %>