<header class="main-header">
    <div class="container-fluid">
        <header class="py-3 flex-wrap align-items-center justify-content-center">
            <div class="row">
                <div class="col-md-3">
                    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                        <h4 class="font-weight-bold">The Collect</h4>
                    </a>
                </div>

                <div class="col-md-6">
                    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="/" class="nav-link  <%= path === '/' ? 'active' : '' %>">Home</a></li>
                        <li><a href="/products" class="nav-link  <%= path === '/products' ? 'active' : '' %>">Products</a></li>
                        <% if (isAuthenticated) { %>
                            <li><a href="/orders" class="nav-link  <%= path === '/orders' ? 'active' : '' %>">Orders</a>
                            </li>
                            <li><a href="/cart" class="nav-link  <%= path === '/cart' ? 'active' : '' %>">Cart</a></li>

                            <li><a href="/admin/add-product" class="nav-link  <%= path === '/admin/add-product' ? 'active' : '' %>k">Admin
                                    Add</a></li>
                            <li><a href="/admin/products" class="nav-link  <%= path === '/admin/products' ? 'active' : '' %>">Admin
                                    Products</a></li>
                            <% } %>
                    </ul>
                </div>
                <div class="col-md-3 text-end">
                    <% if (!isAuthenticated) { %>
                        <a href="/login" class="btn btn-outline-primary">Login</a>
                        <a href="/register" class="btn btn-primary">Sign-up</a>
                        <% } else { %>
                            <form action="/logout" method="post">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button type="submit" class="btn btn-warning">Logout</button>
                            </form>
                            <% } %>
                </div>
            </div>

        </header>
    </div>
</header>